%section
  %h1 Contacts Form
  = form_for @contact, :url => contacts_path, :html => {:class=>'large-12', } do |f|
    %ul
      %li
        = f.select :phones, options_for_select(t(:"form_data.phone_selection").map{|i| i.values.reverse})
      %li{:data =>{"ng-show" => "addressForm"}}
        = f.label :n, t(:"form_data.labels.name")
        = f.text_field :n
      = f.fields_for :addresses  do |address_element|
        = render :partial => 'contacts/address_fields', :locals => {:f => address_element}
      = f.fields_for :phones do |phone_element|
        = render :partial => 'contacts/data_fields', :locals => {:f => phone_element, :data_label =>t(:"form_data.labels.biz_phone")}
      = f.fields_for :emails do |email_element|
        = render :partial => 'contacts/data_fields', :locals => {:f => email_element, :data_label =>t(:"form_data.labels.email")}
    %p
      = f.submit :class => 'button'

-#todo have js get the locale and change the selected index