#video-container
  #video-player
  =render :partial => 'shared/video_list'

  %script{:src =>"#{t(:"jw_player_path")}/jwplayer.js"}
  :javascript
    jwplayer.key="#{t(:"jw_player_key")}"

    jwplayer("video-player").setup({
      flashplayer: "#{t(:"jw_player_path")}/player.swf",
      skin: "#{t(:"jw_player_skin_path", :skin_name => "glow")}",
      file: "#{t(:"media.play_list.items").first[:video_path]}",
      image: "#{t(:"media.play_list.items").first[:still_path]}",
      controls:true,
      width: "100%",
      aspectratio: "16:9"
      });
  %script{:src => 'assets/video-controller.js'}