%section
 %h1 Contacts Form
 = form_for :contact, :url => {:controller => 'contacts', :action => 'create'} do |f|
  %p
   = f.label :nickname
   %br
   = f.text_field :nickname
  %p
   = f.label :email
   %br
   = f.text_field :email

  %p
   = f.submit :class => 'button'

